.save-btn {
  border-radius: 10px;
  background-color: #F44336;
  color: #fff;
  margin-top: 5px;
  padding: 0;
  width: 100px;
  height: 30px;
  border: none;
  box-shadow: none;
  font-size: 16px;
  cursor: pointer;
}

.overlay {
  overflow-y: scroll;
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  &:target {
    visibility: visible;
    opacity: 1;
  }
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #202124;
  border-radius: 10px;
  width: 70%;
  height: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  .close {
    position: absolute;
    top: 12px;
    right: 25px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #e8eae0;
    &:hover {
      color: #F44336;
    }
  }
  .content {
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    overflow: auto;
    color: #fff;
  }
}

.hide-click-border {
  &:focus {
      border: none;
      outline: none;
  }
}

.edit{
  min-height: 500px;
  .edit-title {
    width: 90%;
    height: 5%;
    background: none;
    overflow: hidden;
    resize: none;
    border: none;
    border-radius: 10px; 
    padding: 10px;
    font-size: 26px;
    &:focus {
      @extend .hide-click-border;
      text-decoration: underline;
    } 
  }
  .edit-area {
    width: 97%;
    height: 76%;
    resize: none;
    background: none;
    border-radius: 10px; 
    border-color: #98989a;
    padding: 1.5%;
    &:focus {
      @extend .hide-click-border;
      box-shadow: 0 0 10px #719ECE;
    } 
  }
  .footer {
    margin-top: 1.5%;
    float: right;

  }
}

.delete{
  min-width: 300px;
  min-height: 140px;
  max-width: 350px;
  width: 40%;
  height: 17%;
  margin-top: 120px;
  justify-content: center;

  h2 {
    width: 90%;
    text-align: center;
  }
  button {
    width: 90%;
    position: absolute;
    bottom: 15px;
  }
}

.profile{
  min-height: 500px;
}
